<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        {% if user.is_authenticated %}
        <h2>Welcome {{request.user}}</h2>
        {% else %}
        <h2>Login</h2>
        {% endif %}
        <p>To fully experience all the features and benefits that we offer, we encourage you to create an account with us. We look forward to welcoming you as a registered user and providing you with an exceptional experience on our website.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Thapar Institute of Engineering and Technology, Patiala, Punjab</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>bhavya2k03@gmail.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+91 4457552541<br>+91 9874552143</p>
              </div>
            </div>
          </div>

        </div>
    <div class="col-lg-6">
        <form action="/mainlogin" method="post" role="form" >
          <div class="row">
            
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="text" class="form-control" name="emaill" id="emaill" placeholder="Username" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="text" class="form-control" name="passwordd" id="passwordd" placeholder="Password" required>
            </div>
          </div>
          
          
          <div class="my-3">
            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message"></div>
          </div>
          
          <div class="text-center">
            {% csrf_token %}  
            <button type="submit">Submit</button>
            <a href="/"><h2>Create New account? ... click here</h2></a>
              </div>

        </form>
      </div>

</body>
</html>
